<div class="show-service-transaction">
    <div class="show-service-transaction-body mt-9">
        <div class="shadow-md sm:rounded-lg">
            <%= render "#{}-temp", service_transaction: @service_transaction %>
        </div>  
    </div>
</div>