<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
    <td class="px-6 py-4"><%= category.name %></td>
    <td class="px-6 py-4"><%= category.code %></td>
    <td class="px-6 py-4"><%= category.description %></td>
</tr>
