<div class="new-services">
    <div class="mb-5">
        <h4 class="text-2xl font-bold dark:text-white">Add Form</h4>
    </div>
    <%= render 'shared/errors', obj: @form %>
    <div class="new-services-form flex justify-center items-center">
        <div class="basis-full bg-white border border-gray-200 rounded-lg shadow sm:p-4 md:p-6 dark:bg-gray-800 dark:border-gray-700">
            <%= render 'form', form: @form %>
        </div>
    </div>
</div>