<div class="flex justify-between">
    <div class="mb-5">
        <h3 class="text-3xl leading-none tracking-tight font-bold dark:text-white">Services</h3>
    </div>
    <div>
        <%= link_to 'Add Service', new_admins_service_path(), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    </div>
</div>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Code
                </th>
                <th scope="col" class="px-6 py-3">
                   Description
                </th>
            </tr>
        </thead>
        <tbody>
        <% if @services.any? %>
            <% @services.each do |service| %>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        <%= service.name %>
                    </th>
                    <td class="px-6 py-4">
                        <%= service.code %>
                    </td>
                    <td class="px-6 py-4">
                        <%= service.description %>
                    </td>
                </tr>                
            <% end %>
        <% end %>
        </tbody>
    </table>
</div>
