<div class="new-services flex justify-center items-center">
    <div class="basis-full">
        <%= render 'shared/errors', obj: @service %>
        <%= render 'form', service: @service %>
    </div>
</div>